[submodule "quickjs"]
	path = quickjs
	url = https://github.com/bellard/quickjs.git
	ignore = dirty
[submodule "vendor/bearssl"]
	path = vendor/bearssl
	url = https://github.com/nickray/bearssl
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/sucrase-js"]
	path = vendor/sucrase-js
	url = /Users/simon/dev/sucrase-js
	ignore = dirty
